node_modules/
data.json
*.log
.DS_Store
.env

# Research Dumps
factory_freeze_*.bin
factory_forced.bin
factory_unlocked.bin
factory_zombie.bin
good_firmware.bin
mary_auto_bridge.bin
mary_bitbang.bin
mary_bridge.bin
mary_bypass.bin
mary_fuzzer.bin
mary_heartbeat.bin
mary_i2c_scan.bin
mary_pinhunter.bin
mary_pulse.bin
mary_sensors.bin
mary_shotgun*.bin
mary_sniffer.bin
mary_spy.bin
mary_takeover.bin
openmary_global_success.bin
openmary_grand_sled.bin
openmary_hijack.bin
openmary_ignore_safety.bin
openmary_keepalive.bin
openmary_master*.bin
openmary_mini.bin
openmary_nop_sled.bin
openmary_pro*.bin
openmary_silent.bin
openmary_success*.bin
openmary_transparent.bin
openmary_unified*.bin
openmary_v*.bin
openmary.bin
rescue.bin
*.txt
*.jks
